#!/usr/bin/make -f
EXTJSVERSION=3.4.0

%:
	dh $@ --parallel

override_dh_clean:
	dh_testdir
	dh_testroot
	#find . -maxdepth 1 -not -iname "debian" -not -name ".*" -exec rm -r -v '{}' \;
	rm -rf ext-$(EXTJSVERSION)
	dh_clean

override_dh_install:
	unzip /usr/share/omv-extra-sources/sources/ext-$(EXTJSVERSION).zip
	#mv $(CURDIR)/ext-$(EXTJSVERSION)/* $(CURDIR)
	#rm -rf $(CURDIR)/ext-$(EXTJSVERSION)
	touch extract-stamp
	dh_install
